modules = ["nodejs-20", "postgresql-16"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42558030
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[nix]
channel = "stable-24_05"
